* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background-color: rgb(24, 24, 24);
}
header {
    position: fixed;
    width: 100vw;
    height: 3em;
    box-shadow: 0 -5px 10px rgb(55,66,77);
    background: linear-gradient(89deg,#1697bf 3%,#68cef5 98%);
    z-index: 99;
}
.logoHeader{
    position: fixed;
    top: 0.5em;
    left: calc(100vw - 150px);
    height: 2em;
}
footer {
    position: fixed;
    width: 100vw;
    top: calc(100vh - 2em);
    height: 2em;
    box-shadow: 0 2px 10px rgb(55, 66, 77);
    background: linear-gradient(189deg,rgb(49, 49, 49) 3%,rgb(34, 34, 34) 98%);
    z-index: 99;
}
.content {
    position: fixed;
    top: 3.5em;
    left: 1em;
    right: 1em;
    bottom: 2.5em;
    border-radius: 10px;
    background: rgb(49, 49, 49);
}
nav {
    position: fixed;
    left: 1.5em;
    top: 4em;
    bottom: 3em;
    width: 20vw;
    border: 1px solid rgb(88, 88, 88);
    border-radius: 10px;
}